.background-rectangle {
  position: absolute;
  /* flex: 1; */
  left: 0px;
  width: 100vw;
  height: 105vh;
  background-color: #080808;
}

.singup-form {
    max-width: 300px;
    position: relative;
    top: 15px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .singup-form h2 {
    margin-bottom: 20px;
    position: relative;
    left: 100px;
  }
  
  .singup-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .singup-form input[type="text"],
  .singup-form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .singup-form button {
    width: 95%;
    padding: 10px;
    background-color: #54bcc0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .singup-form button:hover {
    background-color: #348486;
  }

    
  .singup-form button.login{
    position: relative;
    top: 10px;
    background-color: transparent; 
    border: none; 
    color: #252626;
    text-decoration: underline; 
    font-weight: bold;
    padding: 0; 
  }

  .singup-form button.login:hover{
    color: #348486;
  }

  .singup-form img{
    width: 35px;
    height: auto;
    position: relative;
    left: 125px;
  }