.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.Category-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 400px;
    max-height: 150px;
    width: 100%; 
    height: 100%;
}

.Category-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.Category-close img{
    width: 35px;
    height: auto;
}

.category-form input[type="text"]{
    border: none;
    background-color: #F4F3F4;    
    color: #F4F3F4;           
    border-radius: 3px;
    width: 300px;
    height: 37px;
}


.container-btnadd .btnCancel_C,
.container-btnadd .btnadd_C{
    position: relative;
    left: 50%;
    top: 7px;
    margin: 10px;
}

.btnCancel_C{
    border: none;               
    border-radius: 3px;
    width: 80px;
    height: 35px;
    background-color: transparent;
    color: #333;
    font-weight: bold;
}

.btnCancel_C:hover{
    background-color: #df7979;
    color: #fff;
}

.btnadd_C{
    border: none;               
    border-radius: 3px;
    width: 80px;
    height: 35px;
    background-color: #477c9a;
    color: #fff;
}

.btnadd_C:hover{
    background-color: #305469;
    color: #fff;
}