.data-table-container{
    flex: 1; /* Hace que el contenido ocupe el espacio restante */
    margin-left: 42px; /* Margen izquierdo igual al ancho del navbar-placeholder */
    /* los dejare aqui por si tengo algun problema futuro */
    /* transition: margin-left 0.3s; */
    /*display: flex; /* Usa Flexbox */
}
.data-table-container input[type="text"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.data-table-container img{
    width: 90px;
    height: auto;
    position: relative;
    left: 230PX;
    top: 8px;
}

.data-table {
    border-collapse: collapse;
    width: 76vw;
    height: auto;
}

.data-table th, .data-table td {
    padding: 0.5rem;
}

.data-table thead tr {
    background-color: transparent; /* Color de fondo para el encabezado */
    color: #9f9ea2;
}

.data-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.data-table tbody td {
    color: #333; /* Color del texto para las celdas */
  }
  
.data-table tbody tr td input[type="checkbox"] {
    margin: 0;
}

.boxfilter{
    position: relative;
    left: 250px;
    width: 200px;
    height: 40px;

}
